* Ref: https://mathspp.com/blog/module-itertools-overview#reshaping-iterators

# Product

In [1]:
from itertools import product

In [2]:
x = 'abc'
y = range(0, 4)
z = '010'

for i, j, k in product(x,y,z):
    print(i,j,k, end='\t')

# instead of
# for i in x:
#     for j in y:
#         print(i,j)

a 0 0	a 0 1	a 0 0	a 1 0	a 1 1	a 1 0	a 2 0	a 2 1	a 2 0	a 3 0	a 3 1	a 3 0	b 0 0	b 0 1	b 0 0	b 1 0	b 1 1	b 1 0	b 2 0	b 2 1	b 2 0	b 3 0	b 3 1	b 3 0	c 0 0	c 0 1	c 0 0	c 1 0	c 1 1	c 1 0	c 2 0	c 2 1	c 2 0	c 3 0	c 3 1	c 3 0

# chain

In [3]:
from itertools import chain

In [4]:
z = list(x) + list(y)
for elem in z:
    print(elem)

a
b
c
0
1
2
3

In [5]:
# instead
for elem in chain(x,y):
    print(elem, end=' ')

a b c 0 1 2 3

* works with more than 2 iterables

## To flatten a list of lists

In [6]:
nested = [[1, 2, 3], [4], [], [5, 6]]
flat = list(chain.from_iterable(nested))
print(flat)

[1, 2, 3, 4, 5, 6]

In [22]:
nested = [[1, 2, 3], [4], [], [[5, 6]]]
flat = list(chain.from_iterable(nested))
print(flat)

[1, 2, 3, 4, [5, 6]]

# pairwise

In [7]:
from itertools import pairwise

In [8]:
y = ['a', 'b', 'c', 'd', 'e']

In [9]:
# instead of
for i, j in zip(y[:-1], y[1:]):
    print(f'{i}-{j}')

a-b
b-c
c-d
d-e

In [10]:
for i, j in pairwise(y):
    print(f'{i}-{j}')

a-b
b-c
c-d
d-e

# islice

* Returns an iterator

In [11]:
from itertools import islice

In [12]:
islice(y, 0,4,2)

In [13]:
for elem in islice(y, 0,4,2):
    print(elem)

a
c

In [14]:
list(y[0:4:2])

['a', 'c']

# groupby

In [15]:
from itertools import groupby

In [16]:
game_results = "WWWLLWWWWLWWWWWWL"

In [18]:
for key, streak in groupby(game_results):
    print(key, list(streak))

W ['W', 'W', 'W']
L ['L', 'L']
W ['W', 'W', 'W', 'W']
L ['L']
W ['W', 'W', 'W', 'W', 'W', 'W']
L ['L']

In [36]:
win_streak_list = []
for key, streak in groupby(game_results):

    if key=='W':
        win_streak_list.append(len(list(streak)))
        
longest_streak = max(win_streak_list)

In [35]:
longest_streak

6

# filterfalse

In [19]:
from itertools import filterfalse

In [25]:
people = [
    ("Harry", 17),
    ("Anne", 21),
    ("George", 5),
]

In [21]:
for name, age in filterfalse(lambda elem: elem[1] < 18, people):

    print(name, age, end="; ")

Anne 21;

# takewhile

In [22]:
from itertools import takewhile

In [27]:
for elem in takewhile(lambda elem: elem[1] < 18, people):

    print(elem)

('Harry', 17)

In [30]:
# Top chess grandmasters and ratings (July 2024)
grandmasters = [
    ("Magnus Carlsen", 2832),
    
    ("Fabiano Caruana", 2796),
    ("Arjun Erigaisi", 2778),
    ("Ian Nepomniachtchi", 2770),
    ("Hikaru Nakamura", 2802),
]

# Take grandmasters with rating above 2800:
for gm in takewhile(lambda gm: gm[1] > 2800, grandmasters):
    print(gm[0], end=", ")  # Magnus Carlsen, Hikaru Nakamura,

Magnus Carlsen,

## NOTE

* Returns only the first element that satisfies the condition

# filter

In [31]:
for name, age in filter(lambda x: x[1] < 18, people):
    print(name, age, end='; ')

Harry 17; George 5;

# dropwhile

In [32]:
from itertools import dropwhile

In [33]:
for name, age in dropwhile(lambda x: x[1] < 18, people):
    print(name, age, end='; ')

Anne 21; George 5;

## NOTE:
* Similar to takewhile, dropwhile drops the first element where the condition is met and returns everything else